body {
    font-family: Arial, sans-serif;
    background-color: bisque;
    margin: 0;
    padding: 50px;
}

.resume-container {
    display: flex;
    background-color: aliceblue;
    width: 90%;
    margin: 0 auto;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    flex-direction: row;
    overflow: hidden;
}

.profile-pic {
    width: 200px;
    height: 200px;
    margin-top: 10%;
    border-radius: 50%;
    border: 5px solid bisque;
    margin-bottom: 20px;
}

.left-section {
    background-color: rgb(138, 209, 211);
    color: black;
    padding: 20px;
    width: 35%;
    text-align: center;
    border-right: 5px solid bisque;
}

h1 {
    font-size: 26px;
    margin: 10px 0;
    margin-bottom: 30px;
    text-align: center;
}

ul {
    list-style-type: fill round;
    padding: 10;
    margin: 10px 0;
}

li {
    margin: 5px 0;
}

.right-section {
    padding: 20px;
    width: 65%;
}

h3 {
    font-size: 20px;
    padding: 10px;
    margin: 20px 0 10px;
    color: black;
    border-radius: 10px;
    box-shadow: 0 0 15px bisque;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: cadetblue;
    font-family: century Gothic;
}

button {
    font-family: sans-serif;
    border-radius: 10px;
    box-shadow: 0 0 15px blanchedalmond;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: cadetblue;
    font-size : 14px;
}

button:hover {
    background-color: aquamarine;
}


@media (max-width: 768px) {
    .resume-container {
        width:100%;
        display: flex;
        flex-ditection: column;
    }

    .profile-pic {
        width: 100px;
        height: auto;
    }

   .left-section {
     width: 30%;
}

   .right-section {
      width: 70%;
}
   body {
       font-size: 0.5rem;
}

h3 , h1 {
font-size: 0.7rem
}
 }

